body {
  background-color: #282c34;
  color: white;
  font-family: 'Inter', sans-serif, monospace;
  font-size: 18px;
  margin: 10px;
  padding: 40px;
}

section {
  margin: 20px;
  padding: 20px;
}

p {
  font-size: 20px;
}
#about {
  
  font-family: 'Courier New', monospace;
  font-weight: bold;
  background-color: #282c34;
  text-align: center;
  font-size: 80px;
  margin: 20px auto;
  margin-left: 35px;
  /*display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #282c34;
  align-items: center;
  /* text-align: left; */
  /*font-size: 25px;
  animation: slide-left 20s linear infinite;*/
}

/*@keyframes slide-left {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}*/


h1 {
  font-size: 38px;
  font-weight: 800;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: white;
  margin-bottom: 0.5rem;
}

#experience {
  list-style: square;
  border-block: dashed #2c938c;
}

.card {
  text-align:left;
  background-color: #024384f6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  margin-bottom: 1rem;
}

.leave_message {
  display: flex;
  flex-wrap: wrap;
}

#skills li {
  font-weight: bold;
  list-style: none;
  border-radius: var(--rounded);
  border: 2px solid rgb(0, 135, 224);
  color: #03886b;
  background-color: white;
  display: inline-flex;
  padding: 0.45rem 1rem;
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;
}

.project-pic {
  height: 10rem;
  border-radius: 3px;
}

#projects {
  margin-bottom: 1rem;
  text-align: center;
}

.projList {
  display: flex;
  padding: 10px;
}

.project-container {
  text-align: center;
  width: 250px;
  align-items: center;
  margin: auto;
  padding: 20px 20px;
}

.project-card {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 3px 10px gray;
  height: 25rem;
  align-items: center;
}

/* .project-details {
  margin-bottom: 2px;
  font-weight: lighter;
  color: black;
} */


.project-title {
  margin-top: 0.5rem;
  font-weight: bold;
  color: black;
}


.project-link {
  font-weight: bolder;
  color: #024384f6;
}

#skills,
#certificates,
#connect,
#messages {
  border-bottom: dashed #2c938c;
}

#certificates li {
  list-style: square;
  flex-direction: column;
  align-content: flex-start;
  display: flex;
  margin-top: auto;
}

.title {
  text-align:left;
  background-color: #024384f6;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
  margin-bottom: 1rem;
}

.contact-links {
  display: inline-block;
  padding: 1rem 0rem;
  
}

.contact-details {
  font-size: large;
  padding: 0rem 0.5rem;
  font-size: 25px;
  color: white;
}

/* message section */
form {
  margin: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  display: flex;
}

form>label {
  font-size: 21px;
  color: white;
  flex: 1;
}

form>input,
form>textarea {
  font-size: 15px;
  padding: 5px;
  margin: 5px;
  border-style: solid;
  flex: 5;
}

form>textarea {
  display: inline-block;
}

form>button,
button {
  background-color: #024384f6;
  padding: 15px;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}

#messages ul {
  font-size: 20px;
  font-style: oblique 23deg;

}

/* footer section */
footer {
  padding: 35px;
  border-style: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  background-color: #024384f6;
  text-align: left;
}

ul#nav {
  background-color: #024384f6;
  font-weight: bold;
  font-size: 20px;
  top: 0px;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  margin: 0px 0px 50px 0px;
  padding: 10px;
  border: 30px;
  /* position: fixed;*/
}

ul#nav li {
  display: flex;
  float: left;
}

ul#nav li a {
  color: white;
  padding: 15px;
}

ul#nav li a:hover {
  background-color: #282c34;
}

.main {
  margin-top: 30px;
  /* Add a top margin to avoid content overlay */
}

#image_of_me {
  width: 130px;
  height: 130px;
  border-radius: 999px;
}

/* Media Queries for Tablets */
@media screen and (min-width: 767px) and (max-width: 1024px) {
  section {
    display: inline;
    margin: 20px;
    padding: 10px;
  }

  ul#nav {
    display: contents;
  }

  .projList {
    display: inline-table;
    padding: 10px;
}
}

/* Media Queries for Mobile Devices */
@media screen and (max-width: 767px) {
  section {
    display: inline-table;
    margin: 10px;
    padding: 5px;
  }

  #nav {
    display:inline-table;
  }

  .projList {
    display: inline-table;
    padding: 10px;
}
}